.body {
    background-color: #fbfbfb;
    height: 100%;
    overflow: hidden;
    
    .bodyText {
        padding: 6rem 8rem 0;
        h2 {
            display: inline-block;
            color: #333;
            font-size: 1.85rem;
            font-weight: 600;
            position: relative;

           &::after {
            content: "";
            position: absolute;
            bottom: -1.08rem;
            width: 20px;
            height: 5px;
            background-color: #0097cd;
            border-radius: 100px;
            display: block;
           } 
        }

        p {
            max-width: 500px;
            color: #777;
            font-size: .975rem;
            line-height: 1.8;
            padding: 2.5rem 0 2rem;
        }
    }

    .bodycardGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
        // grid-gap: 10px;
        grid-auto-rows: 400px;
        grid-row-gap: 30px;
        color: white;
        position: relative;
        padding: 0 8rem 6rem ;

        
        .arrow {
            color: rgb(62, 142, 189);
            transform: scaleX(1.4) translate(80%, 1900%);
            cursor: pointer;
            // top: 22rem;
            // left: 17rem;
            opacity: 0;

            &:hover {
                color: cadetblue;
            }

            // &:hover ~ .cards1 {
            //    background-color: #f3f1f1;
            //    border-bottom: 2px solid orchid;
            //    transform: scale(1.03, 1.03);
            //    color: black
            // }

            // &:hover ~ .cards1 img {
            //     filter: grayscale(0)
            // }

            // &:hover ~ .cards1 > * {
            //     color: black
            // }

            
        }

        .cardEyowo {

            &:hover {
                transform: scale(1.03, 1.03);
                background-color: #f3f1f1;
                border-bottom: 2px solid #c9874b;
                position: relative;
                z-index: 30;

            }
        }
        

        .cards1 {
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 4px 64px #ccc;
            padding: 1.5rem;
            position: relative;
            transition: all .3s ease-in-out;
            color: black;
            transform: scale(.98, 1);
            margin-right: -1rem;
            cursor: pointer;

        
            &:hover {
                transform: scale(1.03, 1.03);
                background-color: #f3f1f1;
                position: relative;
                z-index: 30;

            }


            &:hover .arrow {
                opacity: 1;
                color:rgb(48, 49, 48)
            }



            &:hover > * {
                color: black
            }

            &:hover img {
                filter: grayscale(0%);
            }

            h3 {
                color: #333;
                padding: 1rem 0 1.5rem 0;
                font-size: 1.42rem;
            }

            h4 {
                color: #333;
                font-weight: 600;
                font-size: 17px;
                line-height: 1.3925;
                padding: 0 0 1rem 0;
            }

            img {
                display: block;
                height: 20px;
                margin: .5rem 0 0 auto;
                filter: grayscale(100%);
                -webkit-backface-visibility: hidden; /* Safari */
                backface-visibility: hidden;
            }

            p {
                line-height: 27px;
                font-size: 15.025px;
                color: #707070;
                font-weight: 400;
            }
         
        }

        .cardEyowo {

            &:hover {
                border-bottom: 2px solid #c9874b;

            }
        }

        .cardBeaver {
            &:hover {
                border-bottom: 2px solid #1e87f0;

            }
        }
        .cardKoya {
            &:hover {
                border-bottom: 2px solid #1e87f0;

            }
        }

        .cardPass {
            &:hover {
                border-bottom: 2px solid rgb(20, 66, 20);

            }

            img {
                width: 5rem;
            }
        }
        
        .cards2 {
            background-color: rgb(54, 56, 55);
            box-shadow: 0px 4px 64px #ccc;
            position: relative;
            // z-index: 42;
            transform: translate(-3%, 0);
            margin-left: -3rem;
        }
        .cards3 {
            background-color: rgb(11, 70, 32);
            box-shadow: 0px 4px 64px #ccc;
        }
        .cards4 {
            background-color: rgb(3, 59, 63);
            box-shadow: 0px 4px 64px #ccc;
        }
    }

    %Btn {
        padding: .7rem 5rem .7rem 1rem; 
        background-color: #0097cd;
        border-radius: 39px;
        border: none;
        outline: none;
        margin: .2rem 0 0 auto;
        color: rgba(255, 255, 255, 0.945);
        font-size: 15px;
        transition: all .3s ease-in;
        cursor: pointer;
        position: relative;
        
        &:hover {
            background-color: #038bbd; 
            color: white;
        }


        &:hover span {
            right: 20px
        }

        span {
            position: absolute;
            right: 30px;
            top: 2px;
            font-size: 27px;
            color: white;
            padding: 0 0 0 2.8rem;
            transition: all .2s ease-in;


            &:hover {
                right: 20px;
            }

        }
    }
    .focusFlex {
        display: flex;
        align-items: center;

        
        button {
            @extend %Btn;

            // margin-left: auto;
        }
    }

    .section2Cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px;
        padding-bottom: 0rem;
        // width: 80%;

        .cards2Main {
            background-color: rgb(255, 255, 255);
            overflow: hidden;
            width: 100%;
            box-shadow: 0px 2px 3px rgb(194, 191, 191);

            img {
                width: 100%;
                height: 190px;
            }

            h2 {
                display: inline-block;
                color: #333;
                font-size: 1.3rem;
                font-weight: 600;
                position: relative;
                width: 70%;
                padding: 1.5rem 0 0 1.5rem;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -1.08rem;
                    width: 20px;
                    height: 5px;
                    background-color: #0097cd;
                    border-radius: 100px;
                    display: block;
                   } 
            }

            p {
                padding: 1.5rem 
            }

            .findyourself {
                // transform: scaleY(1.1);
            }
        }
    }


    .experienceFlex {
        display: flex;
        padding: 0rem 8rem;

        .experienceImage {
            width: 40%;
            overflow: hidden;
            position: relative;
            margin: 0 2.5rem 0 0; 
            // flex: 0 0 40%;

            img {
                width: 145%;
                transform: translateX(-16%);
                margin: auto;
                height: 450px;
            }

            .imageOverlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 300;
                background: rgba(0, 0, 0, 0.041);
                background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0px, transparent 36%, transparent 65%, rgba(0, 0, 0, 0.9))
            }

           
        } 
        .devxlogo {
                // position: absolute;
                z-index: 400;
                width: 5rem;
                height: 1.5rem;
                
            }
        .experienceCard {
            align-self: center;
            width: 60%;
            

            p {
                color: #767676;
                font-size: .975rem;
                letter-spacing: 2px;
                line-height: 1.9;
                padding: .7rem 0;
            }

            .lastChild {
                font-size: 16px;
                color: #707070;
                font-weight: 400;
                letter-spacing: 0px;
            }

            h4 {
                font-size: 1.62rem;
                line-height: 1.3925;
                color: #333
            }

            button {
                @extend %Btn;
            }

        }


    }

    .section-4 {
        margin: 5rem 0 0;
        padding-bottom: 5rem;

        width: 100%;
        background-color: white;

        &__image {
            padding: 0rem 7rem;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            grid-gap: 40px 30px;
        }

        // padding

        img {
            width: 100%;
            height: 70px;
            object-fit: contain;
            filter: grayscale(1);
        }
    }

    .section-5 {
        padding:  8rem 8rem;
        text-align: center;
        position: relative;


        &__payment {
            position: absolute;
            top: 10rem;
            z-index: 900;
            text-align: left;
            padding: 0 0 0 4rem;

            p {
                color: #080705;
                max-width: 350px;
                font-size: .975rem;
                line-height: 1.8;
                padding: 0 0 1rem 0;

            }

            h1 {
                color: #080705;
                line-height: 1.3925;
                font-size: 1.96rem;
                padding: 0 0 1rem 0;
            }




            button {
                @extend %Btn;
                background-color: #c4702e;
                padding-right: 4rem;
                
                span {
                    top: 3.2px;
                }

                &:hover {
                    background-color: #bd6726;
                }
            }
        }


        // width: 
 
        &__image-container {
                height: 65vh;
                overflow: hidden;
                position: relative;


                &__img {
                    width: 90%;
                    transform: scale(1.1, 1.5) translate(-1%, 16%);
                    height: 100%; 
        
            }
        }

        .image-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            z-index: 300;
            background-image: linear-gradient(to right, #f0dec3 0%, rgba(232,221,204,0.5) 50%, rgba(245,245,245,0.2) 100%)
        }
        
    }
    
}

@media only screen and (max-width: 1100px) {
    .body {
        .bodyText {
            padding: 6rem 4rem 0;
        }

        .experienceFlex {
            display: flex;
            padding: 0rem 4rem;

            .experienceImage {
                width: 40%;
                overflow: hidden;
                position: relative;
                margin: 0 2.5rem 0 0; 
                flex: 0 0 40%;

                img {
                    width: 145%;
                    transform: translateX(-16%);
                    margin: auto;
                    height: 450px;
                }
            }
        }

        .section-4 {
            width: 100%;
            background-color: white;
    
            &__image { 
                padding: 0 2rem 0 0;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                grid-gap: 40px 30px;
            }

        }

        .section-5 {
            padding:  4rem 2rem; 


            &__image-container {
                height: 65vh;
                overflow: hidden;
                position: relative;


                &__img {
                    width: 90%;
                    transform: scale(1, 1) translate(-1%, 0%);
                    height: 100%; 
        
                }
            }
            
        }
    }

   
}


@media only screen and (max-width: 900px) {
    .body {
         .experienceFlex {
            display: flex;
            flex-direction: column;
            padding: 0rem 15rem 0 1rem;

            .experienceImage, .experienceCard {
                width: 100%;
                margin-bottom: 1rem;
            }
        }

        .bodyText {
            padding: 3rem 1rem;
        }

        .bodycardGrid {
            padding: 1rem 1.5rem 1rem .5rem;
        }


        .section-5 {
            padding:  4rem 1rem; 


            &__image-container {
                height: 65vh;
                overflow: hidden;
                position: relative;


                &__img {
                    width: 100%;
                    transform: scale(1, 1) translate(0%, 0%);
                    height: 100%; 
        
                }
            }

            &__payment {
                top: 9rem;
                padding: 0 0 0 2rem;
    
                p {
                    font-size: .9rem;
                    line-height: 1.8;
                }
    
                h1 {
                    font-size: 1.6rem;
                }
            }
            
            
        }
    }
   
}


@media only screen and (max-width: 700px) {
    .body {
       .section-5 {
        padding:  4rem 1rem; 


        &__image-container {

            height: 35vh;


            &__img {
                width: 100%;
                transform: scale(1, 1) translate(-5%, 0%);
                height: 100%; 
    
            }
        }

        &__payment {
            position: absolute;
            top: 5rem;
            z-index: 900;
            text-align: left;
            padding: 0 0 0 2rem;

            p {
                color: #080705;
                max-width: 100%;
                font-size: .9rem;
                line-height: 1.8;
                padding: 0 0 1rem 0;

            }

            h1 {
                color: #080705;
                line-height: 1.3925;
                font-size: 1.4rem;
                padding: 0 0 1rem 0;
            }




            button {
                background-color: #c4702e;
                padding-right: 4rem;
                
                span {
                    top: 3.2px;
                }

                &:hover {
                    background-color: #bd6726;
                }
            }
        }
        
        
    } 
    }
    
}

@media only screen and (max-width: 500px) {
    .body {
         .experienceFlex {
            display: flex;
            flex-direction: column;
            padding: 0rem 2rem 0 1rem;
        }

        .section-5 {
            &__payment {
                position: absolute;
                top: 5rem;
                z-index: 900;
                text-align: left;
                padding: 0 0 0 1rem;
    
                p {
                    color: #080705;
                    max-width: 100%;
                    font-size: .8rem;
                    line-height: 1.8;
                    padding: 0 0 1rem 0;
    
                }
    
                h1 {
                    color: #080705;
                    line-height: 1.3925;
                    font-size: 1.2rem;
                    padding: 0 0 1rem 0;
                }
    
    
                button {
                    background-color: #c4702e;
                    padding-right: 3.5rem;
                    font-size: 15px;
                    
                    span {
                        top: 5.5px;
                        font-size: 23px;
                    }
    
                    &:hover {
                        background-color: #bd6726;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {

    .body {
        .bodyText {
            padding: 3rem 1rem 0;
        }
        .experienceFlex {
           display: flex;
           flex-direction: column;

           .experienceImage, .experienceCard {

                    width: 105%;

                    img {
                        width: 200%;
                        transform: translateX(-16%);
                        margin: auto;
                        height: 440px;
                    }
           }
       }
    }
}

@media only screen and (max-width: 350px) {
    .body {
         .experienceFlex {
            display: flex;
            flex-direction: column;
            padding: 0rem 2rem 0 1rem;
        }

        .section-5 {
            &__payment {
                position: absolute;
                top: 5rem;
                z-index: 900;
                text-align: left;
                padding: 0 0 0 1rem;
    
                p {
                    color: #080705;
                    max-width: 100%;
                    font-size: .6rem;
                    line-height: 1.8;
                    padding: 0 0 1rem 0;
    
                }
    
                h1 {
                    color: #080705;
                    line-height: 1.3925;
                    font-size: 1rem;
                    padding: 0 0 1rem 0;
                }
    
                button {
                    background-color: #c4702e;
                    padding-right: 3.5rem;
                    font-size: 12px;
                    
                    span {
                        top: 5.5px;
                        font-size: 20px;
                    }
    
                    &:hover {
                        background-color: #bd6726;
                    }
                }
            }
        }
    }
}
@media only screen and (min-height: 1024px) {

    .body {
        .bodyText {
            padding: 3rem 1rem 0;
        }
        .experienceFlex {
           display: flex;
           flex-direction: row;
           padding: 0 0 0 1rem;
       }

       .section-5 {
        padding:  4rem 1rem; 


        &__image-container {

            height: 35vh;
        }

        &__payment {
            position: absolute;
            top: 9rem;
            z-index: 900;
            text-align: left;
            padding: 0 0 0 2rem;

            p {
                color: #080705;
                max-width: 100%;
                font-size: .9rem;
                line-height: 1.8;
                padding: 0 0 1rem 0;

            }

            h1 {
                color: #080705;
                line-height: 1.3925;
                font-size: 1.4rem;
                padding: 0 0 1rem 0;
            }

            button {
                background-color: #c4702e;
                padding-right: 4rem;
                
                span {
                    top: 3.2px;
                }

                &:hover {
                    background-color: #bd6726;
                }
            }
        }
        
        
    } 
    }
}


@media only screen and (min-height: 1336px) {

    .body {
        .bodyText {
            padding: 3rem 1rem 0;
        }

        .bodycardGrid {
            padding: 0 1rem 6rem ;
        }
    
        .experienceFlex {
           display: flex;
           flex-direction: row;
           padding: 0 0 0 1rem;
       }
    }
}