.header {
    color: red;
    color: white;
    position: relative;
    height: 100vh;
    overflow: hidden;

    .banner {
        position: absolute;
        top: -3rem;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -4;
    }

    // .banner.all {
    //     color: red !important;
    //     width: 10%;
    // }

    .imageOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background: rgba(0, 0, 0, 0.65);
    }

    .headerText {
        text-align: center;
        padding: 1rem 0 0;

        h1 {
            padding: 12.4rem 0 0;
            font-size: 3.32rem;
        }

        p {
            width: 576px;
            text-align: center;
            margin: 0 auto;
            font-size: .975rem;
            padding: 1rem 0 13rem;
        }

        .fontArrow {
            font-size: 2.1rem;
            animation: App-logo-spin infinite 2s linear;

        }

        @keyframes App-logo-spin {
            0% {
                transform: translateY(0)
            }
            50% {
                transform: translateY(40%)
            }
            100% {
                transform: translateY(0)
            }
        }
    }
    .sofcomSVG {
        font-size: 10px;
        fill: white;
        width: 8rem;
    }

    .nav {
        border-top: 1px solid rgb(133, 133, 133);
        margin: 2rem 0;

        .listFlex {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: .5rem;

            a {
                text-decoration: none;
                color: white;

                &:active {
                    color:red;
                    border-bottom: 2px solid red;
                }
            }
            
            li {
                list-style: none;
                padding: 1rem 2rem;

                &:first-child {
                    color: yellow
                }
            }
        }
    }

}