.header {
    color: white;
    position: relative;
    height: 100vh;
    z-index: 100;
    // overflow: hidden;

    %listafter {
        &:first-child {
            color: #ffb600;
        }

        &:first-child::after {
            border-bottom: 7px solid #ffb600;
            border-radius: 5px;
            width: 3rem;
            height: 5px;
            left: 30px;
            top: 38px;
            transform: rotate(180deg);
        }

        &:first-child::after {
            content: "";
            position: absolute;
        }

        &:hover {
            color: #ffb600;
        }
    }

    .scrollNav {
        position: fixed;
        width: 100vw;
        z-index: -3;
        color: rgba(8, 7, 5, 0.633);
        top: 0;
        padding: 1rem;
        background-color: rgba(255, 255, 255, .9);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 5px 10px rgb(219, 219, 219);


        
        .sofcomSVG {
            font-size: 10px;
            fill: #0096cdb6;
            width: 8rem;
            cursor: pointer;
        }

        .listFlex {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding-right: 4rem;

            li {
                padding-left: 2rem;
                white-space: nowrap;
                position: relative;
                cursor: pointer;
                transition: all .2s ease-in;

                @extend %listafter;

                &:first-child::after {
                    top: 31px;
                }

                &:hover {
                    color: rgba(8, 7, 5, 0.577);
                }
            }

        }
         

         h1 {
             font-size: 3rem;
         }
    }
    

    .banner { 
        position: absolute;
        // top: -3rem;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    // .banner.all {
    //     color: red !important;
    //     width: 10%;
    // }

    .imageOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background: rgba(0, 0, 0, 0.65);
    }

    @media only screen and (min-width: 700px){
        .headerText {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    .headerText {
        text-align: center;
        padding-top: 1rem;

        .headerSVG {
            display: none;
            padding-right: 1.2rem;

            svg {
                margin-left: 2rem;
                transition: all .2s ease-in;
                cursor: pointer;

                &:hover {
                    color: #ffb600; 
                }

                
            }

            svg:first-child {
                margin-left: 2rem;
            }

            .svgDivider {
                // border: 2px solid red;
                width: .5px;
                height: 23px;
                background-color: rgba(255, 255, 255, 0.39);
                display: inline-block;
                content: "";
                position: absolute;
                // left: 10px;
                top: 1px;
                right: 57px;
                transition: all .2s;
            }

        }

        h1 {
            font-size: 3.1rem;
            margin: 15rem 0 1rem;
        }

        p {
            width: 576px;
            text-align: center;
            margin-bottom: auto;
            font-size: .975rem;
            line-height: 1.9;
        }

        .fontArrow {
            font-size: 2.1rem;
            animation: bounce infinite 2s linear;
            margin-bottom: 20px;

        }

        @keyframes bounce {
            0% {
                transform: translateY(0)
            }
            50% {
                transform: translateY(40%)
            }
            100% {
                transform: translateY(0)
            }
        }

        .nav_checkbox {
            // display: none;
            visibility: hidden;
            background-color: transparent;
            margin-right: 3rem;          
        }

        .nav_button {
            height: 7rem;
            display: none;
            width: 7rem;
            position: absolute;
            top: -2.25rem;
            left: -2rem;
            border-radius: 50%;
            z-index: 2000;
            text-align: center;
            cursor: pointer;

        }
    
        //ICON
        .iconz {
            position: relative;
            margin-top: 3rem;
    
            &,
            &::before,
            &::after {
                width: 1.6rem;
                height: 1.7px;
                background-color: rgb(255, 251, 251);
                display: inline-block;
            }
    
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                transition: all .2s;
            }
    
            &::before { top: -.5rem; }
            &::after { top: .5rem; }
        }
 
    
        .nav_checkbox:checked + .nav_button .iconz {
            background-color: transparent;
        }
    
        .nav_checkbox:checked + .nav_button .iconz::before {
            top: 0;
            transform: rotate(135deg);
        }
    
        .nav_checkbox:checked + .nav_button .iconz::after {
            top: 0;
            transform: rotate(-135deg);
        }

        .nav_dropdown {
            display: none;
            opacity: 0;
        }

       
    }
    .sofcomSVG {
        font-size: 10px;
        fill: white;
        width: 8rem;
        margin-right: 2rem;
    }

    .nav {
        border-top: 1px solid rgb(133, 133, 133);
        margin: 0 0 .6rem;

        .listFlex {
            display: flex;
            width: 100vw;
            justify-content: center;
            align-items: center;
            padding-top: 1.5rem;


            a {
                text-decoration: none;
                color: white;

                &:active {
                    color:red;
                    border-bottom: 2px solid red;
                }
            }
            
            li {
                list-style: none;
                padding: .1rem 2rem 1rem;
                transition: all .2s ease-in;
                cursor: pointer;
                position: relative;
                
                @extend %listafter;
            }
        }
    }

} 

@media only screen and (min-width: 900px) {
    
}
@media only screen and (max-width: 900px) {
    .header {
        height: 100vh;
        overflow: hidden;
    
        .banner { 
            // transform: translateX(-20%);
            width: 140%;
        }
    }
}
@media only screen and (max-width: 700px) {
    .header {
        height: 100vh;
        overflow: hidden;
    
        .banner { 
            transform: translateX(-10%);
            width: 170%;
        }

        .scrollNav {
            display: none;
        }


        .headerText {
            height: 2rem;

            .nav_button {
                display: block;
            }

            .headerFlex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                .nav_dropdown {
                    position: absolute;
                    top: 2.5rem;
                    left: .5rem;
                    display: inline-block;
                    background-color: #0097cd;
                    border-radius: 5px;
                    width: 350px;
                    transition: all .2s ease-in-out;          

                    ul {
                        list-style: none;
                        position: relative;

                        &::after {
                            content: '';
                            width: 3rem;
                            height: 1rem;
                            background-color: #0097cd;
                            position: absolute; 
                            top: 6px;
                            left: 3px;
                            transform: rotate(45deg);
                            z-index: -1;
                        }


                        li {
                            padding: 1rem 1rem;
                            text-align: left;
                            transition: all .2s ease-in-out;
                            cursor: pointer;
                            
                            &:hover {
                                color: #ffb600;  
                            }
                        }

                        li:first-child {
                            color: #ffb600; 
                        }



                        li:not(:last-child) {
                            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                        }

                    }
                }

                .sofcomSVG {
                    width: 6rem;
                }
            }

            .headerSVG {
                color: white;
                display: inline;
            }


            h1 {
                font-size: 2rem;
            }

            p {
                width: 100%;
            }

            .fontArrow {
                font-size: 2.1rem;
                animation: bounce infinite 2s linear;
                opacity: 0;

            }

            .nav {
                display: none;
            }

        }

       
        .nav_checkbox:checked ~ .nav_dropdown {
            top: 3rem; 
            opacity: 1;        
        }
    }

}

@media only screen and (max-width: 500px) {
    .header {
        height: 70vh;
        overflow: hidden;
    
        .banner { 
            transform: translateX(-10%);
            width: 220%;
        }


        .headerText {
            text-align: center;
            padding: 1rem 0 0;
    
    
            h1 {
                padding: 8.2rem 0 0;
                font-size: 1.7rem;
            }

            p {

            }
        }
    }
}

@media only screen and (min-height: 1024px) {
    .header {
        text-align: center;
        height: 60vh;
        overflow: hidden;

        .scrollNav {
            display: none;
        }


        .headerText {
            height: 2rem;

            .nav_button {
                display: block;
            }

            .headerFlex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                .nav_dropdown {
                    position: absolute;
                    top: 2.5rem;
                    left: .5rem;
                    display: inline-block;
                    background-color: #0097cd;
                    border-radius: 5px;
                    width: 350px;
                    transition: all .2s ease-in-out;          

                    ul {
                        list-style: none;
                        position: relative;

                        &::after {
                            content: '';
                            width: 3rem;
                            height: 1rem;
                            background-color: #0097cd;
                            position: absolute; 
                            top: 6px;
                            left: 3px;
                            transform: rotate(45deg);
                            z-index: -1;
                        }


                        li {
                            padding: 1rem 1rem;
                            text-align: left;
                            transition: all .2s ease-in-out;
                            cursor: pointer;
                            
                            &:hover {
                                color: #ffb600;  
                            }
                        }

                        li:first-child {
                            color: #ffb600; 
                        }



                        li:not(:last-child) {
                            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                        }

                    }
                }

                .sofcomSVG {
                    width: 6rem;
                }
            }

            .headerSVG {
                color: white;
                display: inline;
            }


            h1 {
                font-size: 2rem;
            }

            p {
                width: 80%;
            }

            .fontArrow {
                font-size: 2.1rem;
                animation: bounce infinite 2s linear;
                opacity: 0;

            }

            .nav {
                display: none;
            }

        }

       
        .nav_checkbox:checked ~ .nav_dropdown {
            top: 3rem; 
            opacity: 1;        
        }
    }

}

@media only screen and (min-height: 1336px) {
    .header {
        text-align: center;
        height: 50vh;
        overflow: hidden;

        .headerText {
            text-align: center;
            padding: 1rem 0 0;
    
            .headerSVG {
                display: none;
                padding-right: 1.2rem;
    
                svg {
                    margin-left: 2rem;
                    transition: all .2s ease-in;
                    cursor: pointer;
    
                    &:hover {
                        color: #ffb600; 
                    }
    
                    
                }
    
                svg:first-child {
                    margin-left: 2rem;
                }
    
                .svgDivider {
                    // border: 2px solid red;
                    width: .5px;
                    height: 23px;
                    background-color: rgba(255, 255, 255, 0.39);
                    display: inline-block;
                    content: "";
                    position: absolute;
                    // left: 10px;
                    top: 1px;
                    right: 57px;
                    transition: all .2s;
                }
    
    
                // &:not(:first-child) {
                //     display: none;
                // }
            }
    
            h1 {
                padding: 12.4rem 0 0;
                font-size: 4.1rem;
            }
    
            p {
                width: 576px;
                text-align: center;
                margin: 0 auto;
                font-size: 1.5rem;
                padding: 1rem 0 13.7rem;
                line-height: 1.9;
            }
    
     
           
        }
    }
}